<main class="container">
  <aside class="book">
    <h1 class="title">{{book.title}}</h1>
    <img class="image" src="https://books.google.com/books/content?id=YemUDwAAQBAJ&printsec=frontcover&img=1&zoom=2&edge=curl&source=gbs_api" alt="{{book.title}}">
  </aside>
  <section class="results">
    <article class="res_row" *ngFor="let info of foundInfo">
      <p class="title">{{info.volumeInfo.title || ' test'}}</p>
      <p class="categories">{{info.volumeInfo.categories || ' test'}}</p>
      <p class="subTitle">{{info.volumeInfo.subtitle || 'test '}}</p>
      <p class="authors">{{info.volumeInfo.authors || 'test '}}</p>
      <p class="publisher">{{info.volumeInfo.publisher || 'test '}}</p>
      <p class="year">{{info.volumeInfo.publishedDate || ' test'}}</p>
      <p class="description">{{info.volumeInfo.description || ' test'}}</p>
      <div class="submit"><button (click)="setBookInfo(info,book)">Set book info</button></div>
    </article>
  </section>
</main>
