<section class="realod">
  <button mat-raised-button (click)="scanLibrary()">
    <mat-icon>sync</mat-icon>
  </button>
</section>
<main class="container">
  <mat-card class="example-card"  *ngFor="let book of books" class="cell" (click)="readBook(book._id)">
    <mat-card-header>
      <mat-card-title> {{book.title}}</mat-card-title>
      <mat-card-subtitle>{{book.categories || ''}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="book.imageLink || imagePlaceholder" alt="{{book.title}}">
    <mat-card-content>
      <p>
        {{descriptionShortener(book.description)}}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button (click)="lookUp(book)" class="findInfo"><mat-icon >search</mat-icon></button>
      <button mat-button class="addTofavorites" (click)="addToFavorites(book._id)"><mat-icon [ngStyle]="{'fill' : book.inFavourites == true ? 'red': '' }">favorite_border</mat-icon></button>
    </mat-card-actions>
  </mat-card>
  </main>
<section class="pager">
  <mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = getBooks($event)"
               aria-label="Select page">
</mat-paginator>
<!-- <div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{pageEvent.length}}</div>
  <div>Page size: {{pageEvent.pageSize}}</div>
  <div>Page index: {{pageEvent.pageIndex}}</div>
</div> -->
</section>
